
.vs/R Testing/v16/.suo
R Testing - SQL/bin/Debug/DeploymentReport.txt
R Testing - SQL/bin/Debug/DeploymentReport_1.txt
R Testing - SQL/bin/Debug/DeploymentReport_2.txt
R Testing - SQL/bin/Debug/DeploymentReport_3.txt
R Testing - SQL/bin/Debug/DeploymentReport_4.txt
R Testing - SQL/bin/Debug/DeploymentReport_5.txt
R Testing - SQL/bin/Debug/R Testing - SQL.dacpac
R Testing - SQL/bin/Debug/R Testing - SQL.publish.sql
R Testing - SQL/bin/Debug/R Testing - SQL_1.publish.sql
R Testing - SQL/bin/Debug/R Testing - SQL_2.publish.sql
R Testing - SQL/bin/Debug/R Testing - SQL_3.publish.sql
R Testing - SQL/bin/Debug/R Testing - SQL_4.publish.sql
R Testing - SQL/bin/Debug/R Testing - SQL_5.publish.sql
R Testing - SQL/bin/Debug/R_Testing___SQL.dll
R Testing - SQL/bin/Debug/R_Testing___SQL.pdb
R Testing - SQL/obj/Debug/R Testing - SQL.sqlproj.FileListAbsolute.txt
R Testing - SQL/obj/Debug/R Testing - SQL.sqlprojAssemblyReference.cache
R Testing - SQL/obj/Debug/R_Testing___SQL.dll
R Testing - SQL/obj/Debug/R_Testing___SQL.pdb
R Testing - SQL/R Testing - SQL.dbmdl
R Testing - SQL/R Testing - SQL.jfm
R Testing - SQL/R Testing - SQL.sqlproj.user
R Testing - WPF/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
R Testing - WPF/obj/Debug/App.g.i.cs
R Testing - WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
R Testing - WPF/obj/Debug/MainWindow.g.i.cs
R Testing - WPF/obj/Debug/R Testing - WPF.csprojAssemblyReference.cache
R Testing - WPF/obj/Debug/R Testing - WPF_MarkupCompile.i.cache
R Testing - WPF/obj/Debug/R Testing - WPF_MarkupCompile.i.lref
/R Testing - SQL/bin/Debug
/R Testing - SQL/obj/Debug
/R Testing - WPF/.vs
/R Testing - WPF/bin/Debug
/R Testing - WPF/obj/Debug
/R Testing - WPF/obj/Release
/IgnoreMe
